{{ define "title" }}{{ .Title }}{{ end }}
{{ define "description" }}{{ .Summary }}{{ end }}

{{ define "main" }}
<main>
  <div class="container mt-4 mb-5">
    <article class="mb-5">
      <header class="border-bottom py-3 mb-4">
        <h1 class="fw-bold display-5">{{ .Title }}</h1>
        <small class="d-block text-muted">
          <i class="bi bi-hourglass"></i>
          Estimated reading time: {{ .ReadingTime }} minutes
        </small>
      </header>
      {{ .Content }}
    </article>
  </div>
</main>
{{ end }}
