<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="referrer" content="no-referrer">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    <link rel="canonical" href="{{ .Site.BaseURL }}">
    <meta name="description" content="{{ block "description" . }}{{ .Site.Params.Description }}{{ end }}">

    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ .Site.BaseURL }}">
    <meta property="og:image" content="{{ .Site.BaseURL }}screenshot.webp">
    <meta property="og:image:type" content="image/webp">
    <meta property="og:image:width" content="2592">
    <meta property="og:image:height" content="1191">

    {{ $style := resources.Get "main.scss" | toCSS (dict "outputStyle" "compressed") }}
		<link rel="stylesheet" href="{{ $style.Permalink }}">

    <link rel="icon" href="{{ .Site.BaseURL }}favicon.ico" sizes="any">
    <link rel="icon" href="{{ .Site.BaseURL }}logo.svg" type="image/svg+xml">
    <link rel="manifest" href="{{ .Site.BaseURL }}manifest.webmanifest">

    <script defer data-domain="sourcemeta.com" src="https://plausible.io/js/script.outbound-links.js"></script>
    <script defer src="https://cdn.telemetrydeck.com/websdk/telemetrydeck.min.js" data-app-id="5BEC8971-2BEA-4D7C-A436-54EBDF4D6D93"></script>
  </head>
  <body>
    {{ partial "navigation.html" . }}

    {{ block "main" . }}
    {{ end }}

    {{ partial "footer.html" . }}
  </body>
</html>
