<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="referrer" content="no-referrer">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{{ .Title | default .Site.Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <meta name="description" content="{{ .Params.description | default .Site.Params.Description }}">

    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ .Title | default .Site.Title }}">
    <meta property="og:description" content="{{ .Params.description | default .Site.Params.Description }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.ogImage | default "screenshot.webp" }}">
    <meta property="og:image:type" content="{{ .Params.ogImageType | default "image/webp" }}">
    <meta property="og:image:width" content="{{ .Params.ogImageWidth | default "2592" }}">
    <meta property="og:image:height" content="{{ .Params.ogImageHeight | default "1191" }}">

    {{ $style := resources.Get "main.scss" | toCSS (dict "outputStyle" "compressed") }}
		<link rel="stylesheet" href="{{ $style.Permalink }}">

    <link rel="icon" href="{{ .Site.BaseURL }}favicon.ico" sizes="any">
    <link rel="icon" href="{{ .Site.BaseURL }}logo.svg" type="image/svg+xml">
    <link rel="manifest" href="{{ .Site.BaseURL }}manifest.webmanifest">

    <script defer src="https://cdn.telemetrydeck.com/websdk/telemetrydeck.min.js" data-app-id="5BEC8971-2BEA-4D7C-A436-54EBDF4D6D93"></script>
  </head>
  <body>
    <main>
      {{ .Content }}
    </main>

    {{ partial "opensource.html" . }}

    {{ partial "footer.html" . }}
  </body>
</html>
