// Base
@import "../vendor/bootstrap/scss/functions";

$blockquote-font-size: 16px;
$border-radius: 0;
$primary: #000;

// Configuration
@import "../vendor/bootstrap/scss/variables";
@import "../vendor/bootstrap/scss/variables-dark";
@import "../vendor/bootstrap/scss/maps";
@import "../vendor/bootstrap/scss/mixins";
@import "../vendor/bootstrap/scss/utilities";

// Layout & components
@import "../vendor/bootstrap/scss/root";
@import "../vendor/bootstrap/scss/reboot";
@import "../vendor/bootstrap/scss/type";
@import "../vendor/bootstrap/scss/images";
@import "../vendor/bootstrap/scss/containers";
@import "../vendor/bootstrap/scss/grid";
// @import "../vendor/bootstrap/scss/tables";
// @import "../vendor/bootstrap/scss/forms";
@import "../vendor/bootstrap/scss/buttons";
@import "../vendor/bootstrap/scss/transitions";
// @import "../vendor/bootstrap/scss/dropdown";
// @import "../vendor/bootstrap/scss/button-group";
@import "../vendor/bootstrap/scss/nav";
@import "../vendor/bootstrap/scss/navbar";
@import "../vendor/bootstrap/scss/card";
@import "../vendor/bootstrap/scss/accordion";
// @import "../vendor/bootstrap/scss/breadcrumb";
// @import "../vendor/bootstrap/scss/pagination";
@import "../vendor/bootstrap/scss/badge";
@import "../vendor/bootstrap/scss/alert";
// @import "../vendor/bootstrap/scss/progress";
// @import "../vendor/bootstrap/scss/list-group";
// @import "../vendor/bootstrap/scss/close";
// @import "../vendor/bootstrap/scss/toasts";
// @import "../vendor/bootstrap/scss/modal";
// @import "../vendor/bootstrap/scss/tooltip";
// @import "../vendor/bootstrap/scss/popover";
// @import "../vendor/bootstrap/scss/carousel";
// @import "../vendor/bootstrap/scss/spinners";
// @import "../vendor/bootstrap/scss/offcanvas";
// @import "../vendor/bootstrap/scss/placeholders";

// Helpers
@import "../vendor/bootstrap/scss/helpers";

// Utilities
@import "../vendor/bootstrap/scss/utilities/api";

// Icons
$bootstrap-icons-font: bootstrap-icons;
$bootstrap-icons-font-dir: "./";
@import "../vendor/bootstrap-icons/font/bootstrap-icons.scss";

.text-gradient-metal {
  background: -webkit-linear-gradient(236deg, #b1b1b1, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border-bottom-bg-light {
  border-bottom-color: $light !important;
}

// TODO: $btn-border-radius doesn't seem to help
.btn {
  @extend .rounded-0;
}

@include media-breakpoint-up(lg) {
  .w-lg-75 {
    max-width: 75%;
  }
}

.hover-lift {
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15) !important;
  }
}

.highlight pre {
  background: transparent !important;
  @extend .mb-0;
  @extend .p-4;
}
