<footer class="border-top py-3 mt-5">
  <div class="container text-center">
    <div class="d-flex flex-wrap justify-content-between align-items-center flex-column flex-md-row">
      <p class="col-12 col-md-4 mb-0 text-muted text-md-start">© {{ dateFormat "2006" now }} <a class="text-decoration-none text-dark" href="{{ .Site.BaseURL }}">Sourcemeta Ltd</a></p>

      <a href="{{ .Site.BaseURL }}" class="col-12 col-md-4 d-flex align-items-center justify-content-center my-3 my-md-0 me-md-auto link-dark text-decoration-none">
        <img src="{{ .Site.BaseURL }}logo.svg" alt="{{ .Site.Title }} logo" class="rounded-circle" width="40" height="40">
      </a>

      <ul class="nav col-12 col-md-4 justify-content-center justify-content-md-end">
        <li class="nav-item">
          <a class="nav-link px-2 text-muted" target="_blank" href="{{ .Site.Params.GitHub }}">
            <i class="bi bi-github me-1"></i> GitHub
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link px-2 text-muted" target="_blank" href="{{ .Site.Params.Email }}">
            <i class="bi bi-envelope me-1"></i> Contact
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
