<footer class="border-top py-4">
  <div class="container d-flex align-items-center">
    <a class="text-decoration-none text-dark flex-grow-1" href="{{ .Site.BaseURL }}">
      <img src="{{ .Site.BaseURL }}logo.svg" alt="{{ .Site.Title }} logo" class="me-2" width="30" height="30">
      © {{ dateFormat "2006" now }} Sourcemeta Ltd
    </a>

    <a href="https://www.linkedin.com/company/sourcemeta" class="text-decoration-none text-secondary fs-2 me-4">
      <i class="bi bi-linkedin"></i>
    </a>

    <a href="https://github.com/sourcemeta" class="text-decoration-none text-secondary fs-2">
      <i class="bi bi-github"></i>
    </a>
  </div>
</footer>
