<nav class="navbar navbar-expand my-2">
  <div class="container">
    <a class="navbar-brand" href="{{ .Site.BaseURL }}">
      <img class="me-2 align-middle" src="{{ .Site.BaseURL }}logo.svg" alt="Sourcemeta logo" height="35" width="35">
      <span class="align-middle fw-light">Sourcemeta</span>
    </a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item me-5">
          <a class="text-decoration-none fw-light" href="https://registry.sourcemeta.com">Docs</a>
        </li>

        <li class="nav-item me-5 d-none d-lg-block">
          <a class="text-decoration-none fw-light" href="{{ .Site.BaseURL }}#features">Features</a>
        </li>

        <li class="nav-item me-5 d-none d-lg-block">
          <a class="text-decoration-none fw-light" href="{{ .Site.BaseURL }}#pricing">Pricing</a>
        </li>

        <li class="nav-item me-5 d-none d-lg-block">
          <a class="text-decoration-none fw-light" href="{{ .Site.BaseURL }}#opensource">Open Source</a>
        </li>

        <li class="nav-item me-5 d-none d-lg-block">
          <a class="text-decoration-none fw-light" href="https://github.com/sourcemeta/registry/discussions">Support</a>
        </li>

        <li class="nav-item">
          <a class="btn btn-light border" href="https://github.com/sourcemeta/registry" aria-label="Sourcemeta JSON Schema Registry">
            <i class="align-middle bi bi-github"></i>
            <small class="align-middle ms-1">Star on GitHub</small>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
