<nav class="navbar navbar-expand my-2">
  <div class="container">
    <a class="navbar-brand" href="{{ .Site.BaseURL }}">
      <img class="me-2 align-middle" src="{{ .Site.BaseURL }}logo.svg" alt="Sourcemeta logo" height="35" width="35">
      <span class="align-middle fw-light">Sourcemeta</span>
    </a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item me-5">
          <a class="text-decoration-none fw-light d-none d-lg-block" href="#pricing">Pricing</a>
        </li>

        <li class="nav-item me-5">
          <a class="text-decoration-none fw-light d-none d-lg-block" href="#opensource">Open Source</a>
        </li>

        <li class="nav-item me-5">
          <a class="text-decoration-none fw-light d-none d-lg-block" href="https://registry.sourcemeta.com">Registry</a>
        </li>

        <li class="nav-item me-5">
          <a class="text-decoration-none fw-light d-none d-lg-block" href="{{ .Site.BaseURL }}courses/jsonschema-for-openapi">Training</a>
        </li>

        <li class="nav-item">
          <a class="btn btn-light border d-flex align-items-center" href="mailto:hello@sourcemeta.com?subject=Enterprise%20JSON%20Compliance%20Consultation%20Request" aria-label="Contact">
            <i class="bi bi-arrow-right-short me-1"></i>
            <small class="">Schedule Consultation</small>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
