<section id="opensource" class="border-top pt-5 bg-light-subtle bg-gradient">
  <div class="container">
    <h4 class="display-6 fw-bold mb-3">Open Source</h4>

    <p class="lead mb-4">We maintain key open-source projects that make working with JSON Schema a breeze. Explore our projects on <a href="https://github.com/sourcemeta">GitHub</a> to learn more!</p>

    <div class="row g-5">
      <div class="col-6">
        <a class="mb-3 fs-5 d-block" href="https://www.learnjsonschema.com">Learn JSON Schema</a>
        <a href="https://www.learnjsonschema.com">
          <img class="w-100 border-top border-start border-end" src="/learnjsonschema.webp" alt="Screenshot of the Learn JSON Schema website">
        </a>
      </div>

      <div class="col-6">
        <a class="mb-3 fs-5 d-block" href="https://github.com/sourcemeta/jsonschema">JSON Schema CLI</a>
        <a href="https://github.com/sourcemeta/jsonschema">
          <img class="w-100 border-top border-start border-end" src="/jsonschemacli.webp" alt="Screenshot of the JSON Schema CLI in action">
        </a>
      </div>
    </div>
  </div>
</section>
