<figure class="border px-3 py-3 shadow-sm bg-light">
  <blockquote class="blockquote d-flex align-items-start">
    <a href="https://www.linkedin.com/in/{{ .Get "linkedIn" }}/">
      <img src="{{ .Get "linkedIn" }}.jpeg" class="me-3 border border-dark-subtle" alt="{{ .Get "author" }}" width="80" height="80">
    </a>
    <p class="fw-light fs-6">{{ .Inner }}</p>
  </blockquote>
  <figcaption class="blockquote-footer mt-1 mb-0">
    <a class="text-dark" href="{{ .Get "url" }}">{{ .Get "author" }}</a>, {{ .Get "jobTitle" }}
  </figcaption>
</figure>
