<div class="row align-items-center bg-dark text-white p-5 shadow-lg" style="border-radius: 16px;">
  <div class="col-12 col-md-auto">
    <a href="https://www.linkedin.com/in/jviotti/">
      <img src="/jviotti.webp" alt="Juan Cruz Viotti" class="img-thumbnail mb-4 mb-md-0" style="max-width: 200px">
    </a>
  </div>

  <div class="col-12 col-md">
    <div class="h4 fw-bold">Do you have any questions?</div>
    <p class="lead mb-1 text-white-50">I'm <a href="https://www.linkedin.com/in/jviotti/" class="text-white">Juan Cruz Viotti</a>, founder of Sourcemeta, member of the JSON Schema Technical Steering Committee, O'Reilly author, and award-winning University of Oxford alumnus.</p>
    <p class="text-white-50">I'd love to discuss how JSON Schema, OpenAPI, and Sourcemeta tooling can help you build world class APIs.</p>
    <button type="button" class="btn btn-light" data-cal-link="jviotti/30min" data-cal-namespace="30min" data-cal-config='{"layout":"month_view"}'>Find a slot in the calendar</button>
    <script type="text/javascript">
      (function (C, A, L) { let p = function (a, ar) { a.q.push(ar); }; let d = C.document; C.Cal = C.Cal || function () { let cal = C.Cal; let ar = arguments; if (!cal.loaded) { cal.ns = {}; cal.q = cal.q || []; d.head.appendChild(d.createElement("script")).src = A; cal.loaded = true; } if (ar[0] === L) { const api = function () { p(api, arguments); }; const namespace = ar[1]; api.q = api.q || []; if(typeof namespace === "string"){cal.ns[namespace] = cal.ns[namespace] || api;p(cal.ns[namespace], ar);p(cal, ["initNamespace", namespace]);} else p(cal, ar); return;} p(cal, ar); }; })(window, "https://app.cal.com/embed/embed.js", "init");
    Cal("init", "30min", {origin:"https://cal.com"});
      Cal.ns["30min"]("ui", {"cssVarsPerTheme":{"light":{"cal-brand":"#000000"},"dark":{"cal-brand":"#ffffff"}},"hideEventTypeDetails":false,"layout":"month_view"});
    </script>
  </div>
</div>
